{
  "rules": {
    //for temporary variables used in test files
    "camelcase":"off",
    //to explicitly declare undefined values
    "no-undefined": "off",
    //to use rewire js (for reflection)
    "no-underscore-dangle": "off"
  }
}
